.tweet {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    height: 250px;
    width: 250px;

    justify-content: space-around;
    align-items: center;
}